<app-dialog-template title="Add Category" action="Save" (onActionClicked)="onSubmit()" (onCloseClicked)="onClose()">
  <form class="d-flex flex-column gap-15" [formGroup]="categoryForm" content>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <!-- Required -->
      <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>

      <!-- Minimum length -->
      <mat-error *ngIf="categoryForm.get('name')?.hasError('minlength')">
        Name must be at least 2 characters
      </mat-error>

      <!-- Maximum length -->
      <mat-error *ngIf="categoryForm.get('name')?.hasError('maxlength')">
        Name cannot exceed 100 characters
      </mat-error>
    </mat-form-field>

  </form>
</app-dialog-template>
