<app-dialog-template title="Add Book" action="Save" (onActionClicked)="onSubmit()" (onCloseClicked)="onClose()">
  <form class="d-flex flex-column gap-15" [formGroup]="bookForm" content>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <!-- Required -->
      <mat-error *ngIf="bookForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>

      <!-- Minimum length -->
      <mat-error *ngIf="bookForm.get('title')?.hasError('minlength')">
        Title must be at least 2 characters
      </mat-error>

      <!-- Maximum length -->
      <mat-error *ngIf="bookForm.get('title')?.hasError('maxlength')">
        Title cannot exceed 100 characters
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" />
      <!-- Required -->
      <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
        Author is required
      </mat-error>

      <!-- Minimum length -->
      <mat-error *ngIf="bookForm.get('author')?.hasError('minlength')">
        Author must be at least 2 characters
      </mat-error>

      <!-- Maximum length -->
      <mat-error *ngIf="bookForm.get('author')?.hasError('maxlength')">
        Author cannot exceed 100 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Select Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</app-dialog-template>
